.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Playwright
node_modules/
/test-results/
/blob-report/
/playwright/.cache/
/playwright-report/
/playwright-report_components
/playwright-report_e2e
