/**
 * @section Theme
 * Semantic CSS variable names
 */
:root {

	/* Colors */
	--color-primary: var(--color-blue-50);
	--color-primary-dark: var(--color-blue-10);
	--color-primary-light: var(--color-blue-80);
	--color-primary-lighter: var(--color-blue-90);
	--color-primary-hover: var(--color-blue-40);
	--color-primary-active: var(--color-blue-40);

	--color-secondary: var(--color-red-50);
	--color-secondary-dark: var(--color-red-10);
	--color-secondary-light: var(--color-red-80);
	--color-secondary-lighter: var(--color-red-90);
	--color-secondary-hover: var(--color-red-40);
	--color-secondary-active: var(--color-red-40);

	--color-neutral: var(--color-gray-40);
	--color-neutral-dark: var(--color-gray-20);
	--color-neutral-light: var(--color-gray-80);
	--color-neutral-lighter: var(--color-gray-90);
	--color-neutral-lightest: var(--color-gray-95);
	--color-neutral-hover: var(--color-gray-80);
	--color-neutral-active: var(--color-gray-80);

	--color-background: var(--color-white);
	--color-text: var(--color-gray-10);
	--color-text-muted: var(---color-neutral-50);
	--color-link: var(--color-blue-50);
	--color-link-hover: var(--color-blue-30);
	--color-highlight: var(--color-warning-90);

	--color-focus: var(--color-blue-50);
	--color-readonly: var(--color-gray-90);


	/* Font Stacks */
	--font-primary: ui-sans-serif, system-ui, sans-serif;
	--font-secondary: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;


	/* Sizing */
	--font-size-base: 112.5%;
	--font-size-xs: 0.75rem;
	--font-size-s: 0.9375rem;
	--font-size-m: 1rem;
	--font-size-l: 1.1875rem;
	--font-size-xl: 1.3125rem;
	--font-size-xxl: 1.7rem;
	--font-size-xxxl: 2rem;


	/* Line Height */
	--line-height-xs: 1.2;
	--line-height-s: 1.4;
	--line-height-m: 1.5625;


	/* Spacing */
	--space-xxxs: 0.125rem;
	--space-xxs: 0.25rem;
	--space-xs: 0.5rem;
	--space-s: 0.6875rem;
	--space-m: 1rem;
	--space-l: 1.1875rem;
	--space-xl: 1.5625rem;
	--space-xxl: 2rem;
	--space-xxxl: 3rem;


	/* Border Radius */
	--border-radius-s: 0.25rem;
	--border-radius-m: 0.5rem;
	--border-radius-l: 1.3125rem;

}
