.wrapper {
	--background-color: var(--color-neutral-lightest);
	background-color: var(--background-color);
	margin-top: var(--space-xl);
	padding: var(--space-m) 0;
}

@media (prefers-color-scheme: dark) {
	.wrapper {
		--background-color: var(--color-gray-20);
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav a {
	--color: var(--color-blue-40);
}

.nav a:hover {
	--color: var(--color-blue-30);
}

@media (prefers-color-scheme: dark) {
	.nav a {
		--color: var(--color-blue-80);
	}

	.nav a:hover {
		--color: var(--color-blue-90);
	}
}

.link {
	--decoration: none;

	font-family: var(--font-secondary);
	font-weight: bold;

	display: flex;
	gap: var(--space-xs);
	align-items: center;
}

.link:hover {
	--decoration: none;
}
